///////////////////////////////
// Component->Site Overrides //
///////////////////////////////

.section-contact {
  font-size: 1.1em;
  padding-top: 30px;
  padding-bottom: 60px;
}

.section-contact .section-header {
  font-size: 3.8em;
}

.section-contact .lead {
  margin-top: -10px;
  margin-bottom: 42px;
}

#contact [name="message"] {
  width: 380px;
  height: 120px;
}

// This file is for overriding the behavior of components
// To specifically match something in the design

// Home page
.page-home {
  .hero-unit {
    padding-bottom: 0;
  }

  .section-marketing-points {
    padding-top: 0;
    padding-bottom: 0;
  }

  .section-screenshots {
    padding-bottom: 60px;
  }

  .section-screenshots .photo-viewer {
    margin-top: 40px;
  }

  .superscrollorama-pin-spacer + .section-screenshots {
    width: 100%;
  }

  .section-stats {
    padding-top: 90px;
    padding-bottom: 90px
  }

  .section-testimonials {
    padding-top: 50px;
  }

  .section-testimonials .section-header {
    margin-top: 20px;
    margin-bottom: 100px;
  }
}
// End Home page

// Careers page
.page-careers {
  .hero-unit {
    background-image: url('/img/hero-unit-bg-secondary.png');
  }

  .btn-call-to-action {
    padding-left: 42px;
    padding-right: 42px;
    color: #fff;
  }

  .section-why-work > .container {
    padding-left: 100px;
    padding-right: 100px;
  }

  .section-perks {
    #sections > .dark();
    background: url('/img/office-backdrop.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 40px;
  }

  .section-perks .section-header {
    margin-bottom: 54px;
  }

  .section-positions {
    background: #F1F5F6;
  }

  .section-positions .container {
    padding-left: 60px;
    padding-right: 60px;
  }

  .positions-list .position {
    float: left;
    width: 46%;
    margin-left: 2%;
    margin-right: 2%;
  }
}
// End Careers page

// Company page
.page-company {
  .section-vision {
    padding-top: 30px;
    padding-bottom: 50px;
  }

  .section-vision > .container {
    padding-left: 80px;
    padding-right: 80px;

    @media screen and (max-width: @breakpoint-tablet){
      & {
        .standard-padding();
      }
    }
  }

  .section-vision:before {
    .sprite('lattice-green-1');
    content: "";
    position: absolute;
    top: 0;
    left: 0;
  }

  .section-vision:after {
    .sprite('lattice-green-2');
    content: "";
    position: absolute;
    top: 0;
    right: 0;

    .transition( ease-in, 0.5s );

    @media screen and (max-width: @breakpoint-tablet) {
      & {
        opacity: 0;
      }
    }
  }

  .section-company {
    background: #F1F5F6;
    padding-top: 0;
    padding-bottom: 0;
  }

  .section-company .container {
    width: auto;
    min-width: @container-width - 200;
    max-width: @container-width + 400;
    padding-left: 0;
    padding-right: 0;

    @media screen and (max-width: @breakpoint-tablet) {
      & {
        width: 100%;
        min-width: initial;
        max-width: initial;
      }
    }
  }

  .section-investors {
    padding-top: 40px;
    background-color: #E9EDED;
  }

  .section-investors .section-header {
    margin-bottom: 10px;
  }

  .section-investors p {
    display: inline-block;
    width: 82%;
    line-height: 2em;
  }

  .investors-list {
    margin: 16px 0 24px;
  }
}
// End Company page