///////////////////////////////
// Component->Site Overrides //
///////////////////////////////

// This file is for overriding the behavior of components
// To specifically match something in the design

.section-marketing-points {
  padding-top: 0;
  padding-bottom: 0;
}

.section-screenshots {
  padding-bottom: 60px;
}

.section-screenshots .photo-viewer {
  margin-top: 40px;
}