////////////
// Sprite //
////////////

.sprite( @graphic ) when ( @graphic = 'close-quote' ){
  width: 19px;
  height: 16px;
  background-position: -850px -10px;
}

.sprite( @graphic ) when ( @graphic = 'open-quote' ){
  width: 27px;
  height: 22px;
  background-position: -804px -7px;
}

.sprite( @graphic ) when ( @graphic = 'lattice-1' ){
  width: 874px;
  height: 249px;
  background-position: -10px -411px;
}

.sprite( @graphic ) when ( @graphic = 'lattice-2' ){
  width: 123px;
  height: 311px;
  background-position: -960px -389px;
}

.sprite( @graphic ) when ( @graphic = 'screenshot-chrome' ){
  background-position: 0 0;
}

.sprite( @graphic ) when ( @graphic = 'screenshot-shadow' ){
  background-position: -18px -50px;
}

.sprite( @graphic ) when ( @graphic = 'triangle' ){
  background-position: 139px -326px;
}

.sprite( @graphic ){
  background-image: url('@{sprite-url}');
}