////////////
// Sprite //
////////////

.sprite( @graphic ) when ( @graphic = 'triangle' ){
  background-position-x: 137px;
  background-position-y: -126px;
}

.sprite( @graphic ){
  background-image: url('@{sprite-url}');
}