////////////
// Sprite //
////////////

.sprite( @graphic ) when ( @graphic = 'screenshot-chrome' ){
  background-position: 0 0;
}

.sprite( @graphic ) when ( @graphic = 'screenshot-shadow' ){
  background-position: -18px -50px;
}

.sprite( @graphic ) when ( @graphic = 'triangle' ){
  background-position: 137px -126px;
}

.sprite( @graphic ){
  background-image: url('@{sprite-url}');
}