///////////////
// Variables //
///////////////

// Colors
////////////////////////////////////////////////////
@white:                     #fff;
@gray:                      #A4A4A4;
@gray-dark:                 #232323;
@gray-light:                #E3E5E4;
@off-gray:                  #695C72;
@brand-primary:             #33D29C;
@brand-secondary:           #2B2029;
@brand-tertiary:            #453C4D;

@brand-quaternary: rgb(
  red( @brand-tertiary ) + 5
, green( @brand-tertiary ) - 7
, blue( @brand-tertiary ) - 6
);

@body-bg-color:             #ffffff;


// Type
////////////////////////////////////////////////////
@font-family-serif:         'Soho';
@font-family-sans-serif:    'Soho Gothic';

@font-family-base:          @font-family-sans-serif;
@font-weight-base:          300;
@font-size-base:            14px;
@font-size-small:           @font-size-base - 1;
@font-size-large:           @font-size-base + 4;
@line-height-base:          24px;
@line-height-large:         @line-height-base + 4;
@line-height-small:         @line-height-base - 2;

// Grid
////////////////////////////////////////////////////
@columns:                   12;
@column-width:              80px;
@gutter-width:              20px;
@container-width: (@columns * @column-width + ( (@columns - 1) * @gutter-width ));

// Buttons
////////////////////////////////////////////////////
@btn-font-family:           @font-family-serif;
@btn-font-size:             @font-size-base - 5;
@btn-large-font-size:       @font-size-base - 1;

@btn-padding-top-base:      8px;
@btn-padding-right-base:    16px;
@btn-padding-bottom-base:   @btn-padding-top-base - 1;
@btn-padding-left-base:     @btn-padding-right-base;

@btn-padding-top-large:     14px;
@btn-padding-right-large:   26px;
@btn-padding-bottom-large:  13px;
@btn-padding-left-large:    @btn-padding-right-large;

@btn-border-width-base:     3px;
@btn-border-width-large:    4px;

// Z-Indexes
////////////////////////////////////////////////////
@navbar-zindex:             9999;

// Breakpoints
////////////////////////////////////////////////////
@breakpoint-tablet:         786px;
@breakpoint-mobile:         520px;

// Navbar
///////////////////////////////////////////////////
@navbar-demo-offset:        162px;

// Misc
///////////////////////////////////////////////////
@sprite-url:                '/img/sprite.png';