///////////////
// Variables //
///////////////

// Colors
////////////////////////////////////////////////////
@white:                     #fff;
@gray:                      #A4A4A4;
@gray-light:                #E3E5E4;
@gray-dark:                 #1D1D1D;
@gray-darker:               #161616;
@off-gray:                  #695C72;
@brand-primary:             #33D29C;
@brand-secondary:           #2B1F29;
@brand-tertiary:            #453C4D;
// TODO: derive this value from theme
@primary-dark-color:        #224338;

@brand-quaternary: rgb(
  red( @brand-tertiary ) + 5
, green( @brand-tertiary ) - 7
, blue( @brand-tertiary ) - 6
);

@off-gray-primary: rgb(
  red( @brand-primary ) + 88
, green( @brand-primary ) - 54
, blue( @brand-primary )
);

// TODO: derive this value
@off-gray-secondary: @off-gray;

@body-bg-color:             #ffffff;


// Type
////////////////////////////////////////////////////
@font-family-serif:         'Soho';
@font-family-sans-serif:    'Soho Gothic';
// For some reason, I'm not able to use soho gothic
// font-weight: 300; font-style: italic
// Only after creating a whole font family does it work
@font-family-light:         'Soho Gothic Light';

@font-family-base:          @font-family-sans-serif;
@font-weight-base:          300;
@font-size-base:            14px;
@font-size-small:           @font-size-base - 1;
@font-size-large:           @font-size-base + 4;
@line-height-base:          24px;
@line-height-large:         @line-height-base + 4;
@line-height-small:         @line-height-base - 2;
@color-base:                @gray;
@letter-spacing-base:       0.7px;

// Grid
////////////////////////////////////////////////////
@columns:                   12;
@column-width:              80px;
@gutter-width:              20px;
@container-width: (@columns * @column-width + ( (@columns - 1) * @gutter-width ));

// Buttons
////////////////////////////////////////////////////
@btn-font-family:           @font-family-serif;
@btn-font-size:             @font-size-base - 5;
@btn-large-font-size:       @font-size-base - 1;

@btn-padding-top-base:      8px;
@btn-padding-right-base:    16px;
@btn-padding-bottom-base:   @btn-padding-top-base - 1;
@btn-padding-left-base:     @btn-padding-right-base;

@btn-padding-top-large:     15px;
@btn-padding-right-large:   26px;
@btn-padding-bottom-large:  @btn-padding-top-large - 2;
@btn-padding-left-large:    @btn-padding-right-large;

@btn-border-width-base:     3px;
@btn-border-width-large:    4px;

// Z-Indexes
////////////////////////////////////////////////////
@navbar-zindex:             9999;
@login-zindex:              1111;

// Breakpoints
////////////////////////////////////////////////////
@breakpoint-tablet:         786px;
@breakpoint-mobile:         520px;

// Navbar
///////////////////////////////////////////////////
@navbar-height:             75px;
@navbar-mobile-height:      40px;
@navbar-bg-color:           @gray-dark;
@navbar-color:              #fff;
@navbar-demo-offset:        162px;

// Misc
///////////////////////////////////////////////////
@sprite-url:                '/img/sprite.png';