///////////////////
// About Section //
///////////////////

@section-height: 824px;
@content-offset: 226px;
@content-gutter: 40px;
@anchor-bg: rgb(
  red( @brand-secondary ) + 103
, green( @brand-secondary ) + 96
, blue( @brand-secondary ) + 109
);

@transition-time: 0.5s;
@transition-easing: ease-in-out;

.section-about {
  #sections > .brand-secondary();
  overflow: hidden;
  height: 824px;
  padding: 0;

  @media screen and (max-width: @breakpoint-tablet) {
    & {
      font-size: 0.8em;
    }
  }
}

.section-about .supporting-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-image: url('/img/about-section-bg.jpg');
  background-size: cover;
  z-index: 3;
  overflow: hidden;

  @media screen and (max-width: @breakpoint-tablet) {
    & {
      width: 100%;
      .opacity(0.4);
      z-index: 1;
    }
  }
}

@about-width: 371px;

.section-about .article {
  #grid > .row();
  position: absolute;
  top: @content-offset;
  left: 50%;
  width: @about-width;
  // margin-left: -(@about-width / 2);
  z-index: 2;

  .transition( @transition-time, @transition-easing );
  .translate( -1000px, 0 );
  .opacity( 0 );

  @media screen and (max-width: @breakpoint-tablet) {
    & {
      width: 100%;
      left: 0;
      margin-left: 0;
      .standard-padding();
    }
  }
}

.section-about .article.active {
  .translate( 0, 0 );
  .opacity( 1 );
}

.section-about .article.up-next {
  .translate( 1000px, 0 );
}

// .section-about .section-header,
// .section-about .section-content {
//   #grid > .column(50%);

//   @media screen and (max-width: @breakpoint-tablet) {
//     & {
//       width: 100%;
//     }
//   }
// }

.section-about .section-header {
  position: absolute;
  top: @content-offset;
  right: 0;
  width: @about-width;
  padding-right: @content-gutter;
  margin-top: 0;
  margin-left: -@about-width;
  font-size: 3.5em;
  text-align: right;
  z-index: 4;
  color: #fff;

  @media screen and (max-width: @breakpoint-tablet) {
    & {
      text-align: left;
    }
  }
}

.section-about .section-header a {
  display: inline-block;
  padding: 4px 12px;
  background-color: @anchor-bg;
  color: #000;
}

.section-about .section-header a:hover {
  background-color: lighten(@anchor-bg, 3%);
  text-decoration: none;
}

.section-about .section-header a:before {
  content: "\f060";
  .icon-font();
  font-size: 32px;
  color: #fff;
  margin-bottom: 10px;
  margin-right: 10px;
}

.section-about .section-content {
  padding-left: @content-gutter;
  margin-top: 0;
  text-align: left;
  font-size: 1.2em;
  line-height: 2em;
  font-weight: 300;
  letter-spacing: 1px;
  z-index: 2;

  @media screen and (max-width: @breakpoint-tablet) {
    & {
      padding-left: 0;
    }
  }
}

// Lattice work
.section-about:before {
  .sprite('lattice-1');
  content: "";
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -454px;
  max-width: 100%;
  .transition( ease-out, 0.5s );
  .transition-property( opacity );

  @media screen and (max-width: @breakpoint-tablet) {
    & { .opacity(0); }
  }
}

.section-about:after {
  .sprite('lattice-2');
  content: "";
  z-index: 1;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -150px;
}

// Next stuff
.section-about .next-wrapper {

}

.section-about .next {
  position: absolute;
  top: 0;
  right: 1000px;
  .opacity(0);
  .transition( @transition-time, @transition-easing );
  white-space: pre;
}

.section-about .next.active {
  .opacity(1);
  right: 0;
}

.section-about .next.up-next {
  right: -1000px;
}