/////////////
// Buttons //
/////////////

.btn {
  display: inline-block;
  border: none;
  background: transparent;
  padding: @btn-padding-base;
  font-family: @btn-font-family;
  font-size: @font-size-base;
  line-height: @line-height-base;
  font-weight: @font-weight-base;
}

.btn-large {
  font-size: @font-size-base + 1;
  line-height: @line-height-base;
  padding: @btn-padding-large;
}

.btn-default {
  border: solid #fff 3px;
  color: #fff;
}