////////////
// Navbar //
////////////

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 75px;
  background: @gray-dark;
  z-index: @navbar-zindex;

  .drop-shadow( 0, 2px, 2px, 0.35 );
}