////////////
// Navbar //
////////////

// Navbar height is dictated by nav padding
@navbar-height:         75px;
@navbar-mobile-height:  32px;
@navbar-bg-color:       @gray-dark;
@navbar-color:          #fff;
@navbar-font-family:    'Soho Gothic';

// Make the padding-top a little greater than the bottom for
// a more "balanced" feeel
@anchor-padding-offset: 2px;
@anchor-padding-top: (@navbar-height / 2) + @anchor-padding-offset;
@anchor-padding-bottom: (@navbar-height / 2) - @anchor-padding-offset;

.navbar {
  position:       fixed;
  top:            0;
  width:          100%;

  // Specify min-height in case there are no nav anchors
  min-height:     @navbar-height;


  background:     @navbar-bg-color;
  z-index:        @navbar-zindex;

  font-family:    @navbar-font-family;
  color:          @navbar-color;

  .drop-shadow( 0, 2px, 2px, 0.35 );
}

.navbar > .container {
  overflow: hidden;
}

.navbar a {
  color: @navbar-color;
}

.navbar-logo {
  position: absolute;
  float: left;
  // Make the logo conform to navbar size
  height: 100%;
}

.navbar .nav {
  float: right;
  .transition( 0.5s, ease-in-out );
  .translate( 0, 0 );
}

.navbar.hide-demo-btn .nav {
  .translate( 121px, 0 );
}

.navbar .btn-request-demo {
  .transition( 0.5s, ease-in-out );
  .opacity(1);
}

.navbar.hide-demo-btn .btn-request-demo {
  .opacity(0);
}

.nav {
  margin: 0;
}

.nav > li {
  display: inline-block;
}

.nav a {
  display: inline-block;
  padding: @anchor-padding-top 20px @anchor-padding-bottom;
  font-size: 12px;
  font-weight: bold;
  line-height: 0;
  text-transform: uppercase;

  &:hover {
    text-decoration: none;
    background: lighten( @navbar-bg-color, 5% );
  }
}

// Make the navbar not so tall on mobile
@media screen and (max-width: @breakpoint-mobile) {
  @anchor-padding-top: (@navbar-mobile-height / 2) + @anchor-padding-offset;
  @anchor-padding-bottom: (@navbar-mobile-height / 2) - @anchor-padding-offset;

  .navbar {
    min-height: @navbar-mobile-height;
  }

  .nav a {
    padding: @anchor-padding-top 20px @anchor-padding-bottom;
  }
}
