//////////////////
// Page Section //
//////////////////

.page-section {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 1em;
}

.page-section > .container {
  .standard-padding();
}

.page-section.section-gray {
  background: @gray-light;
}

.page-section.section-gray {
  h1, h2, h3, h4, h5 {
    color: @brand-quaternary;
  }
}

.section-darker {
  #sections > .darker();
}

.page-section.section-primary {
  #sections > .brand-primary();
}