////////////////////
// Positions List //
////////////////////

.positions-list {
  
}

.positions-list .position {
  margin-bottom: 36px;
  padding: 22px 32px;
  background: #fff;
  text-align: left;

  @media screen and (max-width: @breakpoint-tablet){
    & {
      .standard-padding();
    }
  }
}

.position .position-title {
  margin-top: 6px;
  margin-bottom: 2px;
  color: @off-gray;
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: 300;
  text-transform: uppercase; 
}

.position .position-description {
  color: @off-gray-primary;
  font-family: @font-family-light;
  font-size: 0.9em;
  font-style: italic;
}

.position .btn-apply {
  margin-top: 4px;

  @media screen and (max-width: @breakpoint-tablet){
    & {
      font-size: 0.8em;
      padding-left: 12px;
      padding-right: 8px!important;
      border-width: 2px;
    }

    // Hide icon
    &:after {
      font-size: 14px;
      margin-left: 8px;
    }
  }
}